@font-face {
    font-family: 'Norse';
    src: url('Norse-Bold.woff2') format('woff2'),
        url('Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.title-container {
    position: relative;
    text-align: center;
    width: 30vw;
    overflow: hidden;
}

.title-container img {
    height: 100vh;
}

.form-container {
    flex-grow: 1;
    background-color: #f8fafc;
}

.banner {
    font-family: Norse;
    font-weight: bold;
    font-style: normal;

    position: absolute;
    top: 20vh; 
    width: 100%;

    background-color: rgba(0,0,0,.5);
    color: white;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 0;
}

.logo-text {
    font-family: Norse;
    font-weight: bold;
    font-style: normal;
    font-size: 2.5rem;
    letter-spacing: 2px;
}

.banner img {
    height: 12vh;
    
}