@font-face {
    font-family: 'Norse';
    src: url('Norse-Bold.woff2') format('woff2'),
        url('Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.title-container {
    text-align: center;
    width: 30vw;
}

.title-container img {
    height: 100vh;
}

.form-container {
    flex-grow: 1;
    background-color: #f8fafc;
}

.banner {
    font-family: Norse;
    font-weight: bold;
    font-style: normal;

    position: absolute;
    top: 20vh; 
    width: 30vw;

    background-color: rgba(0,0,0,.5);
    color: white;

    display: flex;
    align-items: center;
}

.logo-text {
    font-family: Norse;
    font-weight: bold;
    font-style: normal;
}

.banner img {
    height: 10vh;
}